body {font-family: "Verdana" !important; font-size: 13px; color: #3b3b3b; background: #ededed;}
ul{margin:0; padding:0; list-style:none;}
h1,h2,h3,h4,h5,h6{color:#3b3b3b; text-transform: capitalize;}
h4{font-size:20px;}
.col-md-12 {margin: 0;  padding: 0;}
.col-md-6 {padding: 0;}
h2{font-size:40px; color:#ed3174;}
h3.small-heading{font-size:25px; color:#ed3174; text-transform: uppercase;}
h1{font-size:60px;}
a{text-decoration:none; font-family: 'Open Sans', sans-serif;}
img{max-width: 100% !important; max-height: 100% !important; object-fit: cover;}
video { max-width: 100%;}
a:hover{text-decoration:none; color:#ed3174; transition: all 0.5s ease-in-out 0s;}
p{color:#9b9b9b; line-height: 150%;}
.list-inline > li {padding: 0;}
.upper{text-transform:uppercase;}
.start-today p  , .how-works p{color: #3b3b3b;}
.container {padding: 0; width: 80%;}
.panel-body > img { width: 100%; padding-bottom: 10px;}
.caption { padding-bottom: 10px;}
.panel-title.heading {font-size: 22px;    padding-bottom: 5px; padding-top: 5px;}
.heading { font-weight:bold;}
.img-wrap { text-align: center;  width:100%; height: auto; margin-bottom: 10px;}
.fb-like-button { text-align: center; }
.img-caption{ clear: both;padding-bottom: 10px;  padding-top: 10px;}
/* header design */ 
.mobile-view{ display:none;}
header.site-header{width: 100%; z-index: 9999; background: #930a0f ;padding: 6px 10px; position: relative;}
header .container , footer .container{width: 90%;}
header .logo img {width: 100px; margin-left: 25px;}
.header-navigation .navbar {background: transparent; border: 0 none; margin: 0;}
.navbar-default .navbar-nav > li > a {color: #ffffff; font-size: 15px; padding: 5px 20px; text-transform: uppercase;}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {background-color: #ffffff;color: #930a0f;}
.container-fluid div.custom-like-button {color: #ffffff; display: block; padding-top: 12px; text-align:center; }
.container-fluid div.custom-like-button span { font-size: 16px; }
.top-side-link .navbar-nav a {color: #000; padding: 6px 16px; text-transform: uppercase;}
.top-side-link .navbar-nav .login {background: #ea2028; border-radius: 5px; color: #ffffff; padding: 6px 16px; text-transform: uppercase;}
.dropdown .profile_pic {padding: 0 !important;}
.profile_pic > span { padding: 6px; }
.nav > li > a:focus, .nav > li > a:hover {background-color: #eeeeee; color: #930a0f; text-decoration: none;}
body .navbar {min-height: 0;}
.header-navigation {margin-top: 10px; padding-left:70px;}
.top-side-link {float: right;margin-top: 5px;text-align: center;}
.header-navigation .navbar-nav li {margin-right: 15px;}
.top-side-link .nav.navbar-nav {width: 100%;}
.logo.custom-left {float: left; padding: 0 15px; width: auto;}
.row.advertise-block {padding-bottom: 20px;padding-top: 10px;text-align: center;}
/* header design end */
.thumbnail .caption {min-height: 70px; overflow: hidden;}
/* pagination links */
.pagination-links { text-align: center; }

/* footer design */
footer {background: #ffffff; bottom: 0; padding: 25px 10px; position: fixed; width: 100%;}
.footer-links .list-inline > li {margin-right: 15px;}
.footer-links .list-inline a {color: #930A0F;}
footer p {margin: 0; color: #333333;}
/* footer design end */

/* home page */
.main-content {margin-top: 30px; margin-bottom: 100px;}

/* admin panel */
.admin-content .panel .jumbotron {background: transparent; padding: 20px 0; margin-bottom: 0;}
.admin-content .form-group { margin: 0 0 15px;}
.admin-content .panel .checkbox-inline {margin: 0; padding: 0;}
.admin-content .form-horizontal .control-label {margin-bottom: 10px; text-align: left; padding: 0;}
.checkbox-inline span {padding: 0;}
.modal {z-index: 2147483647;}
.admin-content .form-group div { padding: 0;}
.form-group .col-md-1 .form-control {max-width: 90%;}
.admin-content .form-group .col-md-1 input[type="checkbox"] {margin-top: -5px;}
#html-output {border: medium none;}
#background-image-preview {border: medium none;}
.fact-list-item input {margin-bottom: 15px;}
.panel .panel-heading .bold {color: #000000; font-size: 25px;}
.btn .fa.fa-power-off {padding: 0 5px;}
.top-side-link .media-body {width: auto;}
.top-side-link .media-body > span {color: #ffffff; font-size: 14px;}
.fb-page { box-sizing: border-box; padding: 0 5px;}
.fb-widget > .row {margin: 0;}
.top-side-link .nav .open > a, .top-side-link .nav .open > a:focus, .top-side-link .nav .open > a:hover { background-color: rgba(0, 0, 0, 0);  border-color: rgba(0, 0, 0, 0);}
.top-side-link .nav > li > a:focus, .top-side-link .nav > li > a:hover { background-color: transparent;}
.content-img a > img {height: 180px;}
.padd-5 {padding: 5px;}
/* responsive work */
@media all and (max-width:767px){
	.web-view{ display: none;}
	.mobile-view{ display:block;}
	.logo.custom-left {width: 100%; text-align: center;  margin-left: 0; margin-bottom:10px;}
	header .logo > img { width: 150px; margin: 0px;}
	.navbar-default .navbar-toggle .icon-bar {background-color: #930a0f;}
	body .header-navigation .navbar-toggle {background: #ffffff; border-color: #930a0f; margin: 0 0 10px;}
	.copyright { margin: 0 0 10px; text-align: center;}
	footer {padding: 20px 10px; text-align: center;}
	.header-navigation {overflow: visible;padding-left: 0;}
	.navbar-collapse { background: #930a0f none repeat scroll 0 0; position: absolute;top: 50px;width: 100%;z-index: 2147483647;}
	.container-fluid div.custom-like-button { padding: 0 10px;text-align: left;}
	.top-side-link .nav.navbar-nav { margin: 0 auto;}
	.thumbnail .caption {text-align: center;}
	.top-side-link {width: 50%;	}
}
@media all and (max-width:470px){
	
}