body {font-family: "Open Sans" !important; font-size: 13px; color: #3b3b3b; background: #ededed;}
ul{margin:0; padding:0; list-style:none;}
h1,h2,h3,h4,h5,h6{color:#3b3b3b; text-transform: capitalize;}
h4{font-size:20px;}
.col-md-12 {margin: 0;  padding: 0;}
.col-md-6 ,.col-md-4{padding: 0;}
h2{font-size:40px; color:#ed3174;}
h3.small-heading{font-size:25px; color:#ed3174; text-transform: uppercase;}
h1{font-size:60px;}
a{text-decoration:none; font-family: 'Open Sans', sans-serif; outline:none;}
img{max-width: 100% !important; max-height: 100% !important;}
video { max-width: 100%;}
a:hover{text-decoration:none; color:#ed3174; transition: all 0.5s ease-in-out 0s;}
p{color:#9b9b9b; line-height: 150%;}
.list-inline > li {padding: 0;}
.upper{text-transform:uppercase;}
.start-today p  , .how-works p{color: #3b3b3b;}
.container {/*max-width: 900px;*/ padding: 0; width:77%;}
.media-left, .media>.pull-left {padding: 0px;}
/*container-width for home-page*/
.main-content.container.homepage-container,.top-header.homepage-header .container{max-width: 900px; padding: 0; width:70%;}
/*....*/
.main-content .row .col-md-8 {padding: 0 5px ;}
.main-content .panel .panel-body {padding: 10px;}
.main-content .panel.panel-default {border-radius: 0px;margin: 0 5px 10px;}
.panel-body > img { width: 100%; padding-bottom: 10px;}
.caption { padding-top: 10px;}
.panel-title.heading {font-size: 22px;    padding-bottom: 5px; padding-top: 5px;}
.heading { font-weight:bold;}
.img-wrap { text-align: center;  width:100%; height: auto; margin-bottom: 10px; padding: 0;}
.img-wrap > img {height: 400px; width: 100%;}
.fb-like-button { text-align: center; }
.img-caption{ clear: both;padding-bottom: 10px;  padding-top: 10px;}

/* header design */ 
.mobile-view{ display:none;}
header.site-header{z-index: 99; background: #fff ; position: relative;}
.top-header {padding: 6px 0;}
.logo-link {display: inline-block; float: left; margin-right: 20px;}
header .logo img {width: 100px; }
.header-navigation .navbar {background: transparent; border: 0 none; margin: 0;}
.navbar-default .navbar-nav > li > a {color: #ea2028; font-size: 15px; padding: 5px 20px; text-transform: capitalize;}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {background-color: #ffffff;color: #ea2028;}
.top-side-link .navbar-nav a {color: #000; padding: 6px 16px; text-transform: uppercase; outline: medium none;}
.top-side-link .navbar-nav .login {color: #ea2028;font-size: 15px;background: transparent;text-transform:capitalize;padding: 6px 10px;}
.homepage-header .web-view .top-side-link .profile_pic {padding: 0 !important;}
.dropdown .profile_pic {padding: 0px 11px !important;}
.profile_pic > span { padding: 6px; }
.nav > li > a:focus, .nav > li > a:hover {background-color: #eeeeee; color: #930a0f; text-decoration: none;}
body .navbar {min-height: 0;}
.header-navigation {margin-top: 10px; padding-left:50px;}
.top-side-link {float: right;margin-top: 10px;text-align: center;list-style: outside none none;}
.header-navigation .navbar-nav li {margin-right: 15px;}
.top-side-link .nav.navbar-nav {width: 100%;margin-left: 4px;}
.media-left, .media>.pull-left { padding: 0;}
.logo.custom-left {float: left; padding: 0 15px 0 0; width: auto;}
.row.advertise-block {padding-bottom: 20px;padding-top: 10px;text-align: center;}
.top-side-link .navbar-nav li {float: right;}
#language-selector { -moz-appearance: none;  background: #f5f5f5 url("../images/left-arrow.png") no-repeat scroll 62px center;
    border: medium none; color: #000000; margin-top: 10px; padding: 8px 22px 8px 14px; position: relative;  -webkit-appearance: none;
    appearance:none;font-size: 12px; display: inline-block;}
.like-section {background: #ea2028;border-bottom: 1px solid #ea2028;border-top: 1px solid #ea2028;box-shadow: 0px 1px 4px #000;}
.like-section p { color: #ffffff; font-size: 17px; margin: 0;font-weight: 600;text-transform: capitalize;}
.like-section .custom-like-button span { color: #ea2028; font-size: 17px; line-height: 25px;text-transform: capitalize;}
.like-section .container-fluid {padding: 0;}
.like-section .container-fluid > div {padding:2px;}
.col-md-3.fb-widget {padding: 0;}
.popover .list-unstyled a {
  color: #000;
}
.popover .list-unstyled > li {
  min-width: 100px;
  padding: 4px;
}
.popover .list-unstyled > li:hover {
  background: #f5f5f5 none repeat scroll 0 0;
  cursor: pointer;
}
.custom-left .popover {
  border: 1px solid #ea2028;
  border-radius: 0;
}
.popover .list-unstyled span {
  float: right;
  text-align: right;
}
/*.fb-page.fb_iframe_widget {padding:0 0 10px 0;}*/
.like-section .container-fluid .custom-like-button {padding: 2px;height: 30px; background: #fff;
    -webkit-clip-path: ellipse(80% 180% at 80% 50%);clip-path: ellipse(80% 180% at 80% 50%);border-radius: 12px 0 0 12px;}
/* header design end */
.thumbnail .caption {/*min-height: 70px;*/ overflow: hidden;}
/* pagination links */
.pagination-links { text-align: center; }

/* footer design */
footer {background: #ffffff; padding: 25px 10px; width: 100%;}
.footer-links {margin-bottom: 10px;}
footer .copyright {margin-top: 10px;}
.footer-links .list-inline > li {margin-right: 30px;}
.footer-links .list-inline a {color: #ea2028; font-size: 15px;}
footer p {margin: 0; color: #333333;}
/* footer design end */

/* home page */
.main-content {margin-top: 30px; margin-bottom: 40px;}
.top-section .left-section {padding: 0 5px;}
.top-section .right-section {padding: 0 5px;}
.right-section .thumbnail.item {margin-bottom: 10px;}
.top-section {clear: both; overflow: hidden;}
.top-side-link .media-body {width: auto;}
.top-side-link .media-body > span {color: #ffffff; font-size: 14px;}
.fb-page { box-sizing: border-box; padding: 0 ;width: 100%;}
.fb-page > span {display: block;width: 100% !important;}
.fb-page iframe{width: 100%!important;padding: 0  0 10px 0;}
.fb-widget > .row {margin: 0;}
.top-side-link .nav .open > a, .top-side-link .nav .open > a:focus, .top-side-link .nav .open > a:hover { background-color: rgba(0, 0, 0, 0);  border-color: rgba(0, 0, 0, 0);}
.top-side-link .nav > li > a:focus, .top-side-link .nav > li > a:hover { background-color: #f5f5f5;}
.content-img a > img {height:133px; width: 100%; object-fit: cover;}
.padd-5 {padding: 5px;}
.dropdown .left .media-object {border-radius: 100%; height: 100%; width: 100%;}
.navbar-nav .dropdown .left {float: left; height: 65px; width: 65px; margin-bottom: 10px;}
.navbar-nav .dropdown .right {float: left; padding: 20px 2px 0 15px; max-width: 60%;}
.dropdown .full {clear: both; margin: 10px 0; overflow: hidden; padding: 5px; width: 100%; background: #930a0f ;}
.top-side-link .dropdown .full > a {color: #ffffff;	text-align: center;}
.top-side-link .navbar-nav .dropdown .dropdown-menu {min-width: 225px; padding: 15px; top:60px; position:absolute;
background:#ffffff; border: 1px solid #930a0f;}
.top-side-link .navbar-nav .dropdown .dropdown-menu::before {
	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #930a0f;
	border-style: solid; border-width: 17px; content: ""; position: absolute; right: 14px; top: -34px;}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {background-color: #930a0f; text-decoration: none;
	transform: scale(1.2); color:#ffffff;}
.top-section .left-section .content-img a > img {height: 323px;object-fit: cover;}
.thumbnail .caption a {color: #000000; font-size: 15px; font-weight: bold; outline:none;}
.thumbnail {margin-bottom: 10px; padding: 0; border-radius: 0px;}
.padd-5 .thumbnail {margin-bottom: 0;}
.web-view .header-navigation .navbar {display: inline-block;}
.web-view .header-navigation .navbar {float: left;}
.web-view .header-navigation select {float: left; margin-left: 10px; margin-top: 5px;}
.result-img{width:100%;}
.media-object.result-image {width: 100%;}
.main-content .panel .panel-heading , .main-content .panel .panel-footer{border: 0 none; padding: 0;}
.quiz-description {color: #787878; font-size: 17px;}
.loading-image {text-align: center;}
.start-with-fb {border-radius: 40px; font-size:22px; min-width: 250px; padding: 6px 40px; outline:none; max-width: 100%;}
.start-with-fb .fa {padding-right: 20px; transform: scale(1.6);}
.share-facebook {font-size:17px;  padding: 4px 64px;width: 100%; outline:none;}
.share-facebook .fa { transform: scale(1.5); padding-right:5px;}
.quiz-options #sendBtn .responsive {width: 22px;height: 22px;}
.quiz-options .col-md-4.send-button {border-left: 1px solid #dadada;border-right: 1px solid #dadada;}
.main-content .row .panel .caption.img-caption {border-bottom: 1px solid #dadada;}
.quiz-options a#shareBtn,.quiz-options a#sendBtn,.quiz-options a#copyBtn { font-size: 13px;vertical-align: middle;font-weight: 600;cursor: pointer;padding: 0;}
.quiz-options a#shareBtn{border-left:none;}
.quiz-options a.shareBtn{border-left:none;}
.quiz-options {padding-top: 10px;}
.quiz-options .col-md-4:hover{background: #dadada none repeat scroll 0 0;color: #ea2028;}
.quiz-options .col-md-4 {height: 25px;vertical-align: middle;}
a#shareBtn:hover .fa,a#sendBtn:hover .fa,a#copyBtn:hover .fa ,
a#shareBtn:active .fa,a#sendBtn:active .fa,a#copyBtn:active .fa ,
a#shareBtn:focus .fa,a#sendBtn:focus .fa,a#copyBtn:focus .fa {color: #337ab7;}
#copyBtn .fa,#shareBtn .fa {font-size: 15px;}
.main-content .row .col-md-9 {padding: 0 5px;}
.img-caption a.btn.btn-default {border-radius: 0;color: #337ab7;}
.fb-like-button a.btn.btn-success.btn-lg {background-color: #ea2028;border-color: #ea2028;border-radius: 0px;}
.fb-like-button a.btn.btn-warning.btn-lg {background-color: #337ab7;border-color: #337ab7;border-radius: 0px;}
.main-content .col-md-4 .content-img .quiz-image-wrapper {height: 133px;width: 100%;}
.fb-widget .content-img .quiz-image-wrapper {width:100%;height: 133px;}
.top-section .col-md-8 .thumbnail .content-img {width:100%;height: 323px;}
.homepage-container .row .col-md-4 .thumbnail .content-img {width:100%; height: 158px;}
.main-content .col-md-4 .thumbnail .caption .bold > a ,.main-content .col-md-4 .thumbnail .caption .heading > a,.fb-widget .col-md-12 .thumbnail .caption .heading > a{
	 display: inline-block;height: 69px;overflow: hidden;text-overflow: ellipsis;width: 100%;}
.top-section .left-section .thumbnail .caption .bold > a{ display: inline-block;height: 69px;overflow: hidden;text-overflow: ellipsis;width: 100%;}
.main-content .col-md-4 .thumbnail .caption .heading > a{width:100%;}
.fb-widget .col-md-12 .thumbnail .caption .heading > a{width:100%;}
.main-content .top-section .right-section .thumbnail .caption .bold > a{height: 25px;overflow: hidden;text-overflow: ellipsis; 
    vertical-align: middle;white-space: nowrap;width: 100%;display: inline-block;}
.fb-like-button a.btn.btn-warning.btn-lg {background-color: transparent;color: #337ab7;border-radius: 0px;border-color: #337ab7;}
.fb-like-button a.btn.btn-success.btn-lg {background-color: #ea2028;border-color: #ea2028;border-radius: 0px;}
/* home page */

/* admin panel */
.admin-content .panel .jumbotron {background: transparent; padding: 20px 0; margin-bottom: 0;}
.admin-content .form-group { margin: 0 0 15px;}
.admin-content .panel .checkbox-inline {margin: 0; padding: 0;}
/*.admin-content .form-horizontal .control-label {margin-bottom: 10px; text-align: left; padding: 0;}*/
.checkbox-inline span {padding: 0;}
.modal {z-index: 2147483647;}
.admin-content .form-group div { padding: 0;}
.form-group .col-md-1 .form-control {max-width: 90%;}
.admin-content .form-group .col-md-1 input[type="checkbox"] {margin-top: -5px;}
#html-output {border: medium none;}
#background-image-preview {border: medium none;}
.fact-list-item input {margin-bottom: 15px;}
.panel .panel-heading .bold {color: #000000; font-size: 25px;}
.btn .fa.fa-power-off {padding: 0 5px;}
/* admin panel */
/*pop-up-section-style*/
.popup-box-container {background-color: #ffffff;bottom: 0;box-shadow: -2px -2px 2px -1px #e0e0e0;
  height: 0;position: fixed;right: 0;width: 35%;z-index: 999999;}
.popup-box-container .pop-img {background: #3159a2 url("../images/bg_balloon.png") no-repeat scroll 0 0 / 311px 100px;
  height: 100px;width: 310px;color: #ffffff;
  font-size: 24px;box-sizing: border-box; padding:  4px 10px 10px 64px; line-height: 32px;}
.popup-box-container .cross {position: absolute;right: 0; border-radius: 0;
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0; padding: 0 8px;}
.popup-box-container .btn-wrap {float: right; padding:  0 95px 15px 0; }
.popup-box-container .btn-wrap .btn.pop-buttn {border-radius: 0;}
.pop-img .title {font-weight: bold;}
.popup-box-container .cross:hover {background-color: #dadada;}

/* responsive work */
@media all and (max-width:1024px) {
	.header-navigation { margin-top: 10px; padding-left: 10px; }
	.navbar-default .navbar-nav > li > a {padding: 5px 10px;}
}
@media all and (max-width:767px){
	.web-view{ display: none;}
	.mobile-view{ display:block;}
	.logo.custom-left {width: 100%; text-align: center;  margin-left: 0; margin-bottom:10px;}
	header .logo > img { width: 150px; margin: 0px;}
	.navbar-default .navbar-toggle .icon-bar {background-color: #930a0f;}
	body .header-navigation .navbar-toggle {background: #ffffff; border-color: #930a0f; margin: 0 0 10px;}
	.copyright { margin: 0 0 10px; text-align: center;}
	footer {padding: 20px 10px; text-align: center;}
	.header-navigation {overflow: visible;padding-left: 0;}
	.navbar-collapse { background: #930a0f none repeat scroll 0 0; position: absolute;top: 50px;width: 100%;z-index: 2147483647;}
	.container-fluid div.custom-like-button { padding: 0 10px;text-align: left;}
	.top-side-link .nav.navbar-nav { margin: 0 auto;}
	.thumbnail .caption {text-align: center;}
	.top-side-link {width: auto;	}
	.profile_pic .media-left {float: right;	padding: 0;	}
	.top-side-link .navbar-nav .dropdown .dropdown-menu { left: auto; right: -10px;	z-index: 99999999;}
	.top-section .left-section .content-img a > img {height: 220px;}
    .top-section .col-md-8 .thumbnail .content-img {height: 220px;}
	.content-img a > img {height: 220px;}
	.share-facebook , .start-with-fb {font-size: 18px; padding: 6px 20px;}
	.start-with-fb .fa , .share-facebook .fa {padding-right: 10px; transform: scale(1.4);}
	.navbar-default .navbar-nav > li > a {color: #ffffff;}
	.header-navigation .navbar-nav li {margin-right: 0;}
    .popup-box-container{display: none;}
}
@media all and (max-width:479px){
	.top-section .left-section .content-img a > img {height: 180px;}
    .top-section .col-md-8 .thumbnail .content-img {height: 180px;}
	.content-img a > img {height: 180px;}
}